alabaster==0.7.12
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1657813896088/work
anaconda-client @ file:///home/conda/feedstock_root/build_artifacts/anaconda-client_1632453752331/work
anaconda-navigator==1.10.0
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1632773999114/work
anyio @ file:///Users/runner/miniforge3/conda-bld/anyio_1652463940017/work/dist
applaunchservices==0.2.1
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
appscript @ file:///Users/runner/miniforge3/conda-bld/appscript_1655668534496/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500362080/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1647369152656/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1648308331069/work
astropy @ file:///Users/runner/miniforge3/conda-bld/astropy_1653590126283/work
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bitarray @ file:///Users/runner/miniforge3/conda-bld/bitarray_1652238633576/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blinker==1.4
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1652969651078/work
boto==2.49.0
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1656803818331/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1648883748696/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854236790/work
certifi==2022.9.24
certipy==0.1.3
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1602537245790/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1656142099077/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1645238150271/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
clyent==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
conda==4.14.0
conda-build==3.20.5
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1642622318035/work
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385107093/work
contextlib2 @ file:///home/conda/feedstock_root/build_artifacts/contextlib2_1624848568296/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174070455/work
cryspy==0.5.9
cryspy-editor==1.5.7
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1652809339704/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1657553545634/work
Dans-Diffraction==2.1.0
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1607700893762/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1607591917425/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1599715712112/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1604054245287/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1607421537867/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1647641559712/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
diffpy.pdfgetx==2.0.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1647650208834/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1618676290494/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.0.1
fastcache @ file:///Users/runner/miniforge3/conda-bld/fastcache_1650117884266/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1641751198313/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1654070194245/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1651670959703/work
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1651163502372/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1653010523205/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1649010198287/work
gevent @ file:///Users/runner/miniforge3/conda-bld/gevent_1649327337000/work
glob2==0.7
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1641732976454/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1648882432684/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1608073974246/work
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imagecodecs-lite @ file:///Users/runner/miniforge3/conda-bld/imagecodecs-lite_1649682889611/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252864411/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1655356668708/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intervaltree==3.0.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1620912982711/work/dist/ipykernel-5.5.5-py3-none-any.whl
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1650889123350/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1604159586038/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1655973868664/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jdcal==1.4.1
jedi==0.14.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1657629641118/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233266551/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1652365306989/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1657107521771/work
jupyter-telemetry @ file:///home/conda/feedstock_root/build_artifacts/jupyter_telemetry_1605173804246/work
jupyterhub @ file:///tmp/build/80754af9/jupyterhub_1639576884277/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1654621376725/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1657063151834/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1655961217661/work
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1657807210219/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1655141901267/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1649033221829/work
libarchive-c @ file:///Users/runner/miniforge3/conda-bld/python-libarchive-c_1649436153003/work
llvmlite==0.38.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1648310588613/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1656619049246/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737730795/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1610582814440/work
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635844768785/work
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock @ file:///Users/runner/miniforge3/conda-bld/mock_1648992841908/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1652515549581/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1654260742154/work
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1657631862903/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1656688109017/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1655215393654/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
notebook-shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1646330736330/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1655473595954/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1649636790755/work
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e3f85f54-0572-4c0e-b190-4bc4766fc3fenewxarhq/croots/recipe/numpy_and_numpy_base_1652801682879/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1648619272706/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pamela==1.0.0
pandas==1.4.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
path @ file:///Users/runner/miniforge3/conda-bld/path_1649244607045/work
pathlib2 @ file:///Users/runner/miniforge3/conda-bld/pathlib2_1649684195554/work
pathtools==0.1.2
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1604748707307/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1654782790443/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1660480772389/work
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1648772898789/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1656332401605/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1653089386834/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
PyCifRW==4.4.1
pycifstar==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649384864874/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycurl==7.45.1
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pyerfa @ file:///Users/runner/miniforge3/conda-bld/pyerfa_1649586163256/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1650904496387/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1648327929240/work
pyodbc @ file:///Users/runner/miniforge3/conda-bld/pyodbc_1636085578315/work
PyOpenGL @ file:///home/conda/feedstock_root/build_artifacts/pyopengl_1652285526610/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
Pypubsub==4.0.3
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
pyqtgraph @ file:///home/conda/feedstock_root/build_artifacts/pyqtgraph_1633968630058/work
PyQtWebEngine==5.12.1
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013407299/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857369880/work
pytest==7.1.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1602545356084/work
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server==0.31.9
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1656898078212/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1649616468268/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757416758/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1656183608645/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1654095878638/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1638212842953/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole-base_1654465674650/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1651524593465/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1657334119616/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1656025934395/work
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1649367652852/work
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464480643/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1649033341137/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1649013118417/work
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1655254241635/work
scikit-learn @ file:///opt/concourse/worker/volumes/live/09b793c0-41c8-469b-7e31-b4a39bc68d95/volume/scikit-learn_1642617120730/work
scipy @ file:///opt/concourse/worker/volumes/live/7554f9b4-1616-4d3d-50f8-914545975614/volume/scipy_1641555024289/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
simplegeneric==0.8.1
singledispatch @ file:///home/conda/feedstock_root/build_artifacts/singledispatch_1614388326733/work
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1655764972422/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1648819229041/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1611011426343/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1655452194084/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1636966052463/work
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1656116123941/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1654787372409/work
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1647802594211/work
tables==3.6.1
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1655900837660/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1652790800924/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile==2019.7.26.2
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827543297/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1605189802407/work
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1657224465922/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1654901204645/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1655796432389/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1651670883478/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1655939017940/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495287702/work
wurlitzer @ file:///home/conda/feedstock_root/build_artifacts/wurlitzer_1649403199622/work
wxPython==4.1.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1645975313810/work
xlwings @ file:///Users/runner/miniforge3/conda-bld/xlwings_1657184441702/work
xlwt==1.3.0
xmltodict @ file:///home/conda/feedstock_root/build_artifacts/xmltodict_1652020822199/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1641487982943/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///Users/runner/miniforge3/conda-bld/zope.interface_1649175949140/work
