<!doctype html>

<head>
  <title>PASCal Beta Pressure Output</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='PASCal_icon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}" />
</head>
<html>

<body>
  <main>
    <div class="page">
      <img src="{{ url_for('static', filename='images/PASCal_logo_v1.png') }}" alt="PASCal Logo" , width=300/
        class="image">
      {% if warning is defined and warning %}
      <h2>WARNINGS</h2> 
      <ol>
      {% for warn in warning %}
      <li>{{warn}}</li>
      {% endfor %}
      </ol>        
      {% endif %}
      <h2>Output</h2>

      <table>
        <tr class="table_header">
        <tr class="table_header">
          <th class="table_Blank" colspan="3"></th>
          <th class="table_Direction" colspan="3">
            <div border-bottom: 1px solid; class="tooltip">Direction
              <span class="tooltiptext">Projections of X<sub>n</sub> on the unit cell axes</span>
            </div>
          </th>
          <th class="table_Direction" colspan="4">
            <div class="tooltip">Empirical parameters
              <span class="tooltiptext">Relative change fitted to: &#949; = &#949;<sub>0</sub>+&#955;
                (P-P<sub>c</sub>)<sup>&#957;</sup></span>
            </div>
          </th>
        </tr>
        <th>Axes</th>
        <th>
          <div class="tooltip">K (TPa<sup>-1</sup>)<span class="tooltiptext">median compressibilities</span>
          </div>
        </th>
        <th>
          <div class="tooltip">&#963;K(TPa<sup>-1</sup>)<span class="tooltiptext">error in median
              compressibilities</span>
          </div>
        </th>
        <th>a </th>
        <th>b </th>
        <th>c </th>
        <th>&#949;<sub>0</sub></th>
        <th>&#955;</th>
        <th>P<sub>c</sub></th>
        <th>&#957;</th>
        </tr>

        {% for i in range(3) %}
        <tr>
          <td>{{ Axes[i] | safe }}</td>
          <td>{{ PrinComp[i] }}</td>
          <td>{{ KErr[i][u] }}</td>
          <td>{{ MedianPrinAxCryst[i][0] }}</td>
          <td>{{ MedianPrinAxCryst[i][1] }}</td>
          <td>{{ MedianPrinAxCryst[i][2] }}</td>
          <td>{{ CalEpsilon0[i] }}</td>
          <td>{{ CalLambda[i] }}</td>
          <td>{{ CalPc[i] }}</td>
          <td>{{ CalNu[i] }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>{{ Axes[3] }}</td>
          <td>{{ VolCoef }}</td>
          <td>{{ VolCoefErr }}</td>
        </tr>
      </table>

      <h2>Fits to variable-pressure lattice parameter data</h2>
      <div id='PlotStrain' class='chart'></div>
      <div id='PlotDeriv' class='chart'></div>
      <div id='PlotVolume' class='chart'></div>

      <h2 class="tooltip">Indicatrix plot<span class="tooltiptext">Compressibility tensor is represented as a
          compressibility indicatrix. The compressibility indicatrix is a smoothly varying surface centred at the
          unit-cell origin, where the distance between
          the surface and the origin in a given direction r is equal to the magnitude of median K in that direction
          (taking negative values as appropriate)</span>
      </h2>
      <div id='PlotIndic' class='chart'></div>



      <h2 class="tooltip">Birch-Murnaghan Coefficients<span class="tooltiptext">The Birch-Murnaghan equations of state
          are widely used to describe the variation of pressure with volume.
          The parameter B' (pressure derivative of bulk modulus) is usually around 4 (the harmonic result) and
          deviations from 4, especially negative or very large positive values can indicate unusual behaviour.
          For more details see: F. Birch, Physical Review, 1947, 71, 809-824 and N. Sata, G. Shen, M. Rivers, and S.
          Sutton, Physical Review B, 2002, 65, 104114.</span>
      </h2>
      <table>
        <tr class="table_header">
          <th></th>
          <th>
            <div class="tooltip">B<sub>0</sub> (GPa)<span class="tooltiptext">reference bulk modulus</span>
            </div>
          </th>
          <th>
            <div class="tooltip">&#963;B<sub>0</sub> (GPa)<span class="tooltiptext">standard error in reference bulk
                modulus</span>
            </div>
          </th>
          <th>
            <div class="tooltip">V<sub>0</sub> (&#8491;<sup>3</sup>)<span class="tooltiptext">reference volume</span>
            </div>
          </th>
          <th>
            <div class="tooltip">&#963;V<sub>0</sub> (&#8491;<sup>3</sup>)<span class="tooltiptext">standard error in
                reference volume</span>
            </div>
          </th>
          <th>
            <div class="tooltip">B'<span class="tooltiptext">P derivative of bulk modulus</span>
            </div>
          </th>
          <th>
            <div class="tooltip">&#963;B'<span class="tooltiptext">standard error in P derivative of bulk modulus</span>
            </div>
          </th>
          <th>
            <div class="tooltip">P<sub>c</sub> (GPa)<span class="tooltiptext">reference pressure</span>
            </div>
          </th>
        </tr>

        {% for i in range(BMOrder|length) %}
        <tr>
          <td>{{ BMOrder[i] }}</td>
          <td>{{ B0[i] }}</td>
          <td>{{ SigB0[i] }}</td>
          <td>{{ V0[i] }}</td>
          <td>{{ SigV0[i] }}</td>
          <td>{{ BPrime[i] }}</td>
          <td>{{ SigBPrime[i] }}</td>
          <td>{{ PcCoef[i] }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2> Compressibilities (TPa<sup>-1</sup>)</h2>
      <table>
        <tr class="table_header">
          <th>P (GPa)</th>
          <th>K<sub>1</sub> (TPa<sup>-1</sup>)</th>
          <th>K<sub>2</sub> (TPa<sup>-1</sup>)</th>
          <th>K<sub>3</sub> (TPa<sup>-1</sup>)</th>
          <th>&#963;K<sub>1</sub> (TPa<sup>-1</sup>)</th>
          <th>&#963;K<sub>2</sub> (TPa<sup>-1</sup>)</th>
          <th>&#963;K<sub>3</sub> (TPa<sup>-1</sup>)</th>
        </tr>

        {% for i in range(TPx|length) %}
        <tr>
          <td>{{ TPx[i] }}</td>
          {% for j in range(3) %}
          <td>{{ K[j][i] }}</td>
          {% endfor %}
          {% for n in range(3) %}
          <td>{{ KErr[n][i] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

      <h2> % change in length</h2>
      <table>
        <tr class="table_header">
          <th>P (GPa)</th>
          <th>X<sub>1</sub> (%)</th>
          <th>X<sub>2</sub> (%)</th>
          <th>X<sub>3</sub> (%)</th>
          <th>
            <div class="tooltip">X<sub>1,calc</sub> (%)<span class="tooltiptext">change in length calculated from
                empirical fit</span>
            </div>
          </th>
          <th>
            <div class="tooltip">X<sub>2,calc</sub> (%)<span class="tooltiptext">change in length calculated from
                empirical fit</span>
            </div>
          </th>
          <th>
            <div class="tooltip">X<sub>3,calc</sub> (%)<span class="tooltiptext">change in length calculated from
                empirical fit</span>
            </div>
          </th>
        </tr>
        {% for i in range(TPx|length) %}
        <tr>
          <td>{{ TPx[i] }}</td>
          {% for j in range(3) %}
          <td>{{ DiagStrain[i][j] }}</td>
          {% endfor %}
          {% for n in range(3) %}
          <td>{{ XCal[n][i] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

      <h2 class="tooltip">Principal Axes
        <span class="tooltiptext">Principal axes at each point in crystallographic and orthogonal coordinates.</span>
      </h2>

      <table>
        <tr class="table_header">
          <th></th>
          <th>X<sub>1</sub> </th>
          <th></th>
          <th> </th>
          <th>X<sub>2</sub> </th>
          <th> </th>
          <th> </th>
          <th>X<sub>3</sub> </th>
          <th></th>
          <th> </th>
        </tr>
        <tr class="table_header">
          <th>P (GPa)</th>
          <th>a </th>
          <th>b </th>
          <th>c </th>
          <th>a </th>
          <th>b </th>
          <th>c </th>
          <th>a </th>
          <th>b </th>
          <th>c </th>
        </tr>
        {% for n in range(1,TPx|length) %}
        <tr>
          <td>{{ TPx[n] }}</td>
          {% for i in range(3) %}
          {% for j in range(3) %}
          <td>{{ PrinAxCryst[n][i][j]}}</td>
          {% endfor %}
          {% endfor %}
        </tr>
        {% endfor %}

      </table>

      <h2>Volume</h2>
      <table>
        <tr class="table_header">
          <th>P (GPa)</th>
          <th>
            <div class="tooltip">P<sub>lin</sub>(GPa)<span class="tooltiptext">calculated pressure from linear
                fit</span>
            </div>
          </th>
          <th>
            <div class="tooltip">P<sub>calc,2nd</sub>(GPa)<span class="tooltiptext">calculated pressure from 2nd order
                Birch-Murnaghan fit</span>
            </div>
          </th>
          <th>
            <div class="tooltip">P<sub>3rd</sub>(GPa)<span class="tooltiptext">calculated pressure from 3rd order
                Birch-Murnaghan fit</span>
            </div>
          </th>
          {% if UsePc == "True" %}
          <th>
            <div class="tooltip">P<sub>3rd+Pc</sub>(GPa)<span class="tooltiptext">calculated pressure from 3rd order
                Birch-Murnaghan with P<sub>c</sub> fit</span>
            </div>
          </th>
          {% endif %}
          <th>V (&#8491;<sup>3</sup>)</th>
        </tr>
        {% for i in range(TPx|length) %}
        <tr>
          <td>{{ TPx[i] }}</td>
          <td>{{ CalPress[0][i] }}</td>
          <td>{{ CalPress[1][i] }}</td>
          <td>{{ CalPress[2][i] }}</td>
          {% if UsePc == "True" %}
          <td>{{ CalPress[3][i] }}</td>
          {% endif %}
          <td>{{ Vol[i] }}</td>
        </tr>
        {% endfor %}
      </table>

      <h2 class="tooltip">Input<span class="tooltiptext">Input as interpreted by PASCal.</span>
      </h2>
      <table>
        <tr class="table_header">
          <th>P (GPa)</th>
          <th>&#963;P (GPa)</th>
          <th>a (&#8491;)</th>
          <th>b (&#8491;)</th>
          <th>c (&#8491;)</th>
          <th>&#945; (º)</th>
          <th>&#946; (º)</th>
          <th>&#947; (º)</th>
        </tr>
        {% for i in range(TPx|length) %}
        <tr>
          <td>{{ TPx[i] }}</td>
          <td>{{ TPxError[i] }}</td>
          <td>{{ Latt[i][0] }}</td>
          <td>{{ Latt[i][1] }}</td>
          <td>{{ Latt[i][2] }}</td>
          <td>{{ Latt[i][3] }}</td>
          <td>{{ Latt[i][4] }}</td>
          <td>{{ Latt[i][5] }}</td>
        </tr>
        {% endfor %}
      </table>

      <div class="info"><a class="link" href="{{ url_for('index') }}" class="btn btn-primary btn-lg px-4 gap-3">To
          input</a></div>
    </div>
  </main>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var PlotIndic = {{ PlotIndicJSON | safe}};
  var PlotVolume = {{ PlotVolumeJSON | safe}};
  var PlotStrain = {{ PlotStrainJSON | safe}};
  var PlotDeriv = {{ PlotDerivJSON | safe}};
  Plotly.plot('PlotVolume', PlotVolume["data"], PlotVolume["layout"], {{ config | safe }});
  Plotly.plot('PlotStrain', PlotStrain["data"], PlotStrain["layout"], {{ config | safe }});
  Plotly.plot('PlotDeriv', PlotDeriv["data"], PlotDeriv["layout"], {{ config | safe }});
  Plotly.plot('PlotIndic', PlotIndic["data"], PlotIndic["layout"], {{ config | safe }});

</script>

</html>
